#sidebar-certidao {
    position: fixed;
    right: -100%; /* Começa escondido à direita */
    top: 0;
    width: 450px; /* Largura do seu formulário */
    height: 100%;
    background: #fff;
    transition: all 0.4s ease; /* Efeito de deslizar */
    z-index: 9999;
    box-shadow: -5px 0 15px rgba(0,0,0,0.2);
    overflow-y: auto; /* Permite scroll se o form for longo */
}

/* Regra vital: Quando a classe active é adicionada pelo JS */
#sidebar-certidao.active {
    right: 0; /* Traz o menu para dentro da tela */
}
#canvas-assinatura {
    width: 100%;       /* Ocupa a largura do container */
    height: auto;      /* Mantém a proporção */
    display: block;
    touch-action: none; /* Evita que a tela role enquanto você assina */
}